.gradle
build
.ropeproject
*.pyc
*.*~
.classpath
.project
.settings/
logFile.txt
/bin/
/data/
/tree-tagger/
/testCorpus/
.nb-gradle/
.nb-gradle-properties
/*-token.txt

src/test/resources/out
/bin/
src/test/resources/example-infolis.txt
src/test/resources/examples.zip
src/test/resources/examples/patterns-escaped.txt
src/test/resources/examples/pdfs/
docker/infolis-files
