.gradle
build
.ropeproject
*.pyc
.classpath
.project
.settings/
logFile.txt
/bin/
/data/
/tree-tagger/
/testCorpus/
.nb-gradle/
.nb-gradle-properties

src/test/resources/example*
src/test/resources/examples/*
src/test/resources/out
